@keyframes button-pop {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(0);
    }
}

.shake {
    animation: shake 0.1s cubic-bezier(0.51, -0.12, 0.41, 1.65);
    animation-iteration-count: 5;
}

.buttonPop {
    animation: button-pop 0.5s cubic-bezier(0.51, -0.12, 0.41, 1.65);
}
