@keyframes button-pop {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0);
    }
}

.buttonPop {
    animation: button-pop .5s cubic-bezier(0.510, -0.120, 0.410, 1.650);
}