

@keyframes slide-in {
    from {
        --position: 0%;
    }
    to {
        --position: 100%;
    }
}

@keyframes text-slide {
    from {
        transform: translateX(-1rem);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@property --position {
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

.title {
    background: -webkit-linear-gradient(16deg,#4285f4 calc(var(--position) - 100%),
    #9b72cb calc(var(--position) - 91%),#d96570 calc(var(--position) - 80%),
    #d96570 calc(var(--position) - 76%),#9b72cb calc(var(--position) - 65%),
    #4285f4 calc(var(--position) - 56%),#d96570 calc(var(--position) - 50%),
    #d96570 calc(var(--position) - 44%),theme('colors.background') calc(var(--position) - 25%),
    theme('colors.background') var(--position));

    animation: slide-in 3s ease-in-out -.8s both, text-slide .5s ease-out both .2s;

    -webkit-text-fill-color: transparent;
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
}

.action {
    animation: fade-in .5s ease-in-out .8s both;
}